<html>
    <h1> Greetings!</h1>
<body>
   Oh hi, <b><%=@name%></b> Hope you have a great day!
</body>


<ul>
   <% @names.each do  |name| %>
        <li><%= name %></li>
    <% end %>
</ul>


</html>


